body {
    padding: 10 20px;
}

#nav_username {
    font-weight:600;
    padding-right: 20px;
}

.wrapper_sm{
    padding: 12px;
    max-width:800px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper_lg{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}


#table_box, #control_box{
    margin: 8px 0;
    padding: 12px;
}

.control_wrapper{
    margin: 5px 0; 
    display: flex;
}



.form-inline > label {
    text-align:center;
}
/*

.content{
    padding:17px;
}

#buttons_box{
    position: absolute;
    right: 133px;
    top: 20px;
    display: flex;
}

    #left_btns_box{
    display: grid;
    margin-right:20px;
}

#right_btns_box{
    display: flow-root;
}

    .dropdown_box{
    margin-right: 80px;
}

    .tbl_input{
    position: absolute;
}
*/

@media(max-width: 1012px){

    .tabFirst_btn{
     margin-bottom: 5px;
}
   
}

.tabFirst_btn{
    margin-right: 5px;
}

#display_box table td{
    width: 160px;
}



#display_box {
    overflow-y: scroll;
    max-height: 360px;
}

#display_box table{
    width: 100%;
}

#msg_box{
    left:50%;
    top: 12px;
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
}

#copy_order_btn{
    float: right;
}

.scroll-table{
    overflow:scroll;
    height: 70px;
}