body {
    padding: 10 20px;
}

#nav_username {
    font-weight:600;
    padding-right: 20px;
}

.wrapper_sm{
    width:800px;
    margin-left: auto;
margin-right: auto;
}

.wrapper_lg{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.content{
    padding:17px;
}

#table_box, #control_box{
    margin: 10px 0;
    padding: 15px 0;
}

.control_wrapper{
    margin: 5px 0; 
    display: flex;
}

#buttons_box{
    position: absolute;
    right: 133px;
    top: 20px;
    display: flex;
}

.dropdown_box{
    margin-right: 80px;
}

.tabFirst_btn{
    margin-right: 5px;
}

#display_box table td{
    width: 160px;
}

.tbl_input{
    position: absolute;
}

#display_box {
    overflow-y: scroll;
    max-height: 288px;
}

#display_box table{
    width: 100%;
}

#msg_box{
    bottom: 0;
}

#left_btns_box{
    display: grid;
    margin-right:20px;
}

#right_btns_box{
    display: flow-root;
}

#show_cap_table{
    margin-bottom: 10px;
}

#copy_order_btn{
    float: right;
    margin-right: 106px;
}

.scroll-table{
    overflow:scroll;
    height: 70px;
}